/* .navigation-bar {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  background-color: #f5f5ff;

  height: 80px;
} */

.navigation-container {
  margin: 0px 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.navigation-list {
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  max-width: 100%;
}
.menu-button {
  display: none;
}
.navigation-buttons {
  /* display: inline-block; */
  margin: 0.5rem;
  max-width: 100%;
  text-decoration: none;
  /* width: 4rem; */
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  border: 2px solid #1d4ed8;
}

.bg-cl-blue {
  background-color: #1d4ed8;
}
.bg-cl-white {
  background-color: #fff;
}

.cl-blue {
  color: #1d4ed8;
}

.cl-white {
  color: #fff;
}
/* .border-blue {
  border: 2px solid #1d4ed8;
} */

@media screen and (max-width: 768px) {
  .menu-button {
    display: flex;
  }
}
